<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="8.0.0" targetFramework="net472" />
  <package id="Autofac.Web" version="7.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="5.1.1" targetFramework="net472" />
  <package id="JsonConverter.Abstractions" version="0.7.1" targetFramework="net472" />
  <package id="JsonConverter.Newtonsoft.Json" version="0.7.1" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="17.12.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Debug" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="17.12.0" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.4.1" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.11.1" targetFramework="net472" />
  <package id="Moq" version="4.20.72" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NUnit" version="4.3.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="5.0.0-beta.5" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.WindowsForms" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf.Shared" version="2.2.0" targetFramework="net472" />
  <package id="Stef.Validation" version="0.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>